@model HocVien
<div class="tab-pane" id="hocvien">
    <div class="form-group">
        <label asp-for="@Model.Truong">Trường học</label>
        <input asp-for="@Model.Truong" class="form-control" placeholder="Ví dụ: Trường THCS Phan Bội Châu">
        <span asp-validation-for="@Model.Truong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PhuHuynh">Phụ huynh</label>
        <input asp-for="@Model.PhuHuynh" class="form-control" placeholder="Ví dụ: Lê văn Hải">
        <span asp-validation-for="@Model.PhuHuynh" class="text-danger"></span>
    </div>
</div>